@page
@model IndexModel


@section Styles  {
    <style type="text/css">
        #taps {
            width: 100%;
            position: relative;
        }

        main {
            position: relative;
            top: -100px;
        }
    </style>
}

@section HeaderTop  {
    <div>
        <img id="taps" src="~/images/taps_grayscale_cropped.jpg" alt="Beer Taps" />
    </div>
}

<div>
    <div class="text-center">
        <h1 class="display-4">Welcome to .Net on Draft</h1>
    </div>
    <hr />
    @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Pellentesque adipiscing commodo elit at imperdiet. Nec dui nunc mattis enim ut tellus elementum sagittis vitae. Adipiscing tristique risus nec feugiat in. Libero enim sed faucibus turpis in. Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Gravida quis blandit turpis cursus in hac habitasse platea. Quisque id diam vel quam elementum pulvinar. Fringilla est ullamcorper eget nulla facilisi etiam dignissim. Vitae tempus quam pellentesque nec nam aliquam sem. Bibendum arcu vitae elementum curabitur vitae nunc sed velit dignissim.</p>
    <p>Facilisi nullam vehicula ipsum a arcu cursus vitae congue. Lacinia at quis risus sed vulputate odio ut enim. Massa vitae tortor condimentum lacinia quis vel eros donec. Varius vel pharetra vel turpis nunc eget. Lorem ipsum dolor sit amet consectetur. Diam vel quam elementum pulvinar etiam. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit scelerisque. Natoque penatibus et magnis dis parturient montes nascetur ridiculus. Sed risus pretium quam vulputate dignissim suspendisse. Montes nascetur ridiculus mus mauris. Sollicitudin tempor id eu nisl nunc.</p>
    <p>Morbi tempus iaculis urna id volutpat lacus laoreet non curabitur. Tellus integer feugiat scelerisque varius morbi enim nunc faucibus a. Urna et pharetra pharetra massa massa ultricies. Risus nec feugiat in fermentum posuere urna nec tincidunt praesent. Platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper dignissim. Phasellus egestas tellus rutrum tellus. Nec feugiat nisl pretium fusce id velit ut tortor. Scelerisque eu ultrices vitae auctor eu. Enim nec dui nunc mattis enim ut tellus. Ut lectus arcu bibendum at varius vel. Tellus in metus vulputate eu scelerisque felis imperdiet. Vel pharetra vel turpis nunc eget lorem dolor. Bibendum arcu vitae elementum curabitur. Leo urna molestie at elementum eu facilisis sed odio.</p>
    <p>Tristique nulla aliquet enim tortor at. Mattis aliquam faucibus purus in massa tempor nec feugiat. Dui nunc mattis enim ut tellus elementum sagittis vitae. Adipiscing enim eu turpis egestas pretium aenean pharetra magna ac. Integer feugiat scelerisque varius morbi enim nunc. Aliquet bibendum enim facilisis gravida. Nulla facilisi cras fermentum odio. Semper feugiat nibh sed pulvinar proin gravida hendrerit lectus. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Dolor magna eget est lorem ipsum dolor sit amet consectetur. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper. Est lorem ipsum dolor sit amet consectetur. Eu augue ut lectus arcu bibendum at varius vel pharetra. Pharetra sit amet aliquam id. Ultrices gravida dictum fusce ut. Maecenas sed enim ut sem viverra aliquet eget sit amet. Molestie ac feugiat sed lectus vestibulum mattis ullamcorper velit sed.</p>
    <p>Ultrices eros in cursus turpis massa tincidunt. Massa ultricies mi quis hendrerit dolor magna eget est. Id eu nisl nunc mi ipsum faucibus vitae aliquet nec. Pellentesque elit eget gravida cum sociis natoque penatibus et magnis. Porttitor rhoncus dolor purus non. Ac feugiat sed lectus vestibulum mattis. Nunc consequat interdum varius sit amet mattis vulputate. Elementum sagittis vitae et leo duis ut diam quam. Ornare arcu dui vivamus arcu felis bibendum ut. Nibh ipsum consequat nisl vel pretium lectus quam id leo. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Faucibus scelerisque eleifend donec pretium. Consequat mauris nunc congue nisi. Est ullamcorper eget nulla facilisi etiam dignissim diam quis. Hendrerit dolor magna eget est lorem ipsum dolor sit. Leo duis ut diam quam nulla. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor.</p>*@
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $('.nav-container').removeClass('sticky');
            $('.nav-container').addClass('move-up');

            var sticky = $('.nav-container').prop('offsetTop');

            window.onscroll = function () {
                if (window.pageYOffset > sticky) {
                    $('.nav-container').addClass('sticky');
                    $('.nav-container').removeClass('move-up');
                    $('main').addClass('pad-top');
                    $('.jp-audio').css('opacity', '1');
                } else {
                    $('.nav-container').removeClass('sticky');
                    $('.nav-container').addClass('move-up');
                    $('main').removeClass('pad-top');
                    $('.jp-audio').css('opacity', '0.75');
                }
            };
        });
    </script>
}
