$menu-color: #343a40; //This is here for reference.
$menu-lighter1: #606b76;
$menu-lighter2: #4e565f;
$text-color: #e2e2e2;
$lt-blue: #00a1ff;

.jp-audio {
    background-color: $menu-lighter1;
    color: $text-color;
    opacity: 0.75;

    .jp-gui {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;

        i[role="button"] {
            cursor: pointer;
        }

        .jp-toggles {
            display: none;
        }

        .jp-volume-controls {
            width: 175px;

            .jp-volume-bar {
                background-color: $text-color;
                width: 114px;
                height: 7px;
                margin: auto;
                position: relative;
                top: 4px;
                border-radius: 1px;
                cursor: pointer;

                .jp-volume-bar-value {
                    background-color: $lt-blue;
                    height: 100%;
                    border-radius: 1px;
                }
            }

            @media screen and (max-width: 800px) {
                .jp-volume-bar {
                    width: 75px;
                    top: 3px;
                }
            }

            .jp-mute {
                display: block;
                float: left;
            }

            .jp-volume-max {
                display: block;
                float: right;
            }

            @media screen and (max-width: 650px) {
                .jp-mute, .jp-volume-max {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 800px) {
            .jp-volume-controls {
                width: 135px;
            }
        }

        .jp-controls-holder {
            margin-left: 25px;
            display: flex;
            justify-content: center;
            align-items: center;

            .jp-controls {
                margin-right: 25px;

                .jp-play {
                    font-size: 3em;
                }

                @media screen and (max-width: 767px) {
                    .jp-play {
                        font-size: 2em;
                    }
                }

                .jp-stop {
                    display: none;
                }
            }

            .jp-current-time, .jp-duration {
                margin-right: 2px;
                font-size: smaller;
            }

            @media screen and (max-width: 767px) {
                .jp-current-time, .jp-duration {
                    display: none;
                }
            }

            .jp-progress {
                width: 400px;
                margin-left: 3px;
                margin-right: 3px;
                display: flex;
                justify-content: center;
                align-items: center;

                .jp-seek-bar {
                    background-color: $text-color;
                    width: 200px;
                    height: 11px;
                    margin: auto;
                    border-radius: 2px;
                    cursor: pointer;
                }

                .jp-play-bar {
                    background-color: $lt-blue;
                    height: 100%;
                    border-radius: 2px;
                }
            }

            @media screen and (max-width: 800px) {
                .jp-progress {
                    width: 300px;
                }
            }
        }
    }

    .jp-details {
        background-color: $menu-lighter2;

        .jp-title {
            text-align: center;
        }
    }
}